#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.towers {
  display: flex;
  flex-direction: row;
  gap: 100px;
}

.tower {
  position: relative;
  padding-left: 20px;
  padding-right: 20px;
  height: 150px;
  width: 200px;
  border: 2px solid #666;
  padding-top: 2rem;
  cursor: pointer;
}

.tower > .line {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  bottom: 0px;
  height: 150px;
  width: 5px;
  background-color: white;
  z-index: 1;
}

.tower:hover > .line {
  background-color: #555;
}
.tower:hover {
  background-color: #111;
}
.tower.selected{
  background-color: #999;
}
.tower:hover.selected{
  background-color: #777;
}

.discs {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: end;
  height: 100%;
  gap: 3px;
  z-index: 2;
}

.disc {
  height: 20px;
  border-radius: 10px;
  z-index: 2;
  /* background-color: blue; */
}
